.video-section {
  width: 300px;
  height: 300px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-bottom: 10px;
}

.image-wrapper {
  width: 300px;
  /* height: 180px; */
  overflow: hidden;
  background-size: cover;
}

img {
  object-fit: cover;
  object-position: top;
  display: block;
  height: 100%;
  width: 100%;
}  

.like-icon {
  width: 10%;
  height: 10%;
  background-image: 
}

h2, p, a {
  color: black;
  overflow-wrap: break-word;
  text-decoration: none;
}

h2 {
  font-size: 12px;
}

p {
  font-size: 10px;
}
